@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus,
input:focus,
input[type]:focus,
span:focus,
.uneditable-input:focus {
  /* border-color: transparent; */
  box-shadow: transparent;
  /* border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
        0 0 8px rgba(229, 103, 23, 0.6); */
  outline: 0 none;
}

.vimium-container {
  position: absolute;
  left: 0;
  top: 0;
}

.zymbol-group {
  background-color: rgba(11, 219, 80, 0.5);
}

.full-cover-cursor {
  background-color: rgba(0, 0, 0, 0.2);
}

.cursor {
  display: inline-block;
  width: 0 !important;
  transform: translateX(-2px) translateY(-1px) scaleY(1.1) scaleX(0.8);
}

@keyframes blink-animation {
  from {
    /* background-color: red; */
    border-right: solid white 10px;
  }
  to {
    /* background-color: yellow; */
    border-right: none;
  }
}

.active-cursor-container {
  /* animation-name: blink;
  animation-duration: 4s; */
  /* -webkit-animation: blink 1s infinite linear; */
  animation: blink-animation 1060ms steps(2, start) infinite;
  border: solid white 5px;
  /* animation: blink 0.5s infinite 1s alternate; */
}

.active-cursor-container::after {
  background-color: blue;
  width: 10px;
  height: 100px;
}

.zytex-wrapper {
  font-family: KaTeX_Main, "Times New Roman", serif;
  font-size: 14pt;
  white-space: break-spaces;
}

.zytex {
  font-size: 12pt;
  white-space: nowrap !important;
}

.katex-display,
.katex-display > .katex,
.katex-display > .katex > .katex-html {
  display: inline !important;
}

.katex-display {
  text-align: left !important;
  margin: 0 !important;
}

.katex-display > .katex {
  text-align: left !important;
}

.display-math {
  font-size: 17px;
}
